<!DOCTYPE html>
<head>    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>TheOnlineJewllers</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="css/normalize.min.css"> -->
    
    <link rel="stylesheet" href="css/main1.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/
    bootstrap.min.css">
    
    <link rel="stylesheet" href="css/guestbook.css">
    <link rel="stylesheet" href="css/main1.css">
    <script src="modernizr-2.8.3-respond-1.4.2.min.js.download"></script>
</head>

<body>
    <div class="container-fluid">
    <header>
        <div class="row">

            <div class="col-xs-4">
                <h1 class="title">&nbsp;&nbsp;&nbsp;&nbsp;The Online Jewellers </h1>
            </div>
            <div class="col-xs-8 ">
                <nav>
                    <ul class="list-inline">


                        <li><em><a href="/">Home</a></em></li>
                        <li><em><a href="/Cart">My Cart</a></em></li>
                        <li><em><a href="/ContactUs">Contact us</a></em></li>
                        <li><em><a href="/Agarwal_Vineeth">About us</a></em></li>
                        <li><em><a href="/GuestBook">Guest Book</a></em></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <hr>
    <h1>
        Express Guestbook
        <a href="/new-entry" class="btn btn-primary pull-right">
        Write in the guestbook
        </a>
        </h1>
<% if (entries.length) { %>
<% entries.forEach(function(entry) { %>
<% console.log("Displaying:"+ entry.title)%>
<% console.log("Displaying:"+ entry.content)%>
<% console.log("Displaying:"+ entry.published)%>
<div class="panel panel-default">
<div class="panel-heading">
<div class="text-muted pull-right">
<%= entry.published %></div>    
<%= entry.title %></div>
<div class="panel-body">
<%= entry.content %>
</div>
</div>
<% }) %>
<% } else { %>
No entries! <a href="/new-entry">Add one!</a>
<% } %>
<% include footer %>
