<!DOCTYPE html>
<head>    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>TheOnlineJewllers</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="css/normalize.min.css"> -->
    
    <link rel="stylesheet" href="css/main1.css">
    <link rel="stylesheet" href="css/guestbook.css">

    <script src="modernizr-2.8.3-respond-1.4.2.min.js.download"></script>
</head>

<body>
    <div class="container-fluid">
    <header>
        <div class="row">

            <div class="col-xs-4">
                <h1 class="title">&nbsp;&nbsp;&nbsp;&nbsp;The Online Jewellers </h1>
            </div>
            <div class="col-xs-8 ">
                <nav>
                    <ul class="list-inline">


                        <li><em><a href="/">Home</a></em></li>
                        <li><em><a href="/Cart">My Cart</a></em></li>
                        <li><em><a href="/ContactUs">Contact us</a></em></li>
                        <li><em><a href="/Agarwal_Vineeth">About us</a></em></li>
                        <li><em><a href="/GuestBook">Guest Book</a></em></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <hr>
    <h1>
        Express Guestbook
        <a href="/new-entry" class="btn btn-primary pull-right">
        Write in the guestbook
        </a>
        </h1>
<h2>Write a new entry</h2>
<form method="post" role="form">
<div class="form-group">
<label for="title">Title</label>
<input type="text" class="form-control" id="title"
  name="title" placeholder="Entry title" required></div>

<div class="form-group">
<label for="content">Entry text</label>
<textarea class="form-control" id="body" name="body"
placeholder="Love Express! It   is a great tool for
building websites." rows="3" required></textarea></div>

<div class="form-group">
<input type="submit" value="Post entry" class="btn btn-primary"></div>
</form>
<% include footer %>
